<% provide(:title, "About") %>
<div class="text-center">
<h1>What is ILM APP ?</h1>
<h4>
  ILM APP is a web application for using <span class="text-danger"><b>Ivy Lee Method</b></span>.
  You can use it by signing up.
</h4>
<h1>What is Ivy Lee Method ?</h1>
<h4>
  Ivy Lee Method is <span class="text-danger">an efficient way to write to-do lists</span>.
</h4>
<h1>How to use ILM APP ?</h1>
<table class="h4 table text-left" id="table-about">
  <tr>
    <td>1.</td>
    <td>Fill in 6 things to do tomorrow</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Next day, proceed with work and study along the ILM APP</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Forget what you couldn't do without regret</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>On that night, fill in 6 items for tomorrow</td>
  </tr>
  <tr>
    <td>5.</td>
    <td>Do these every day</td>
  </tr>
</table>
<h1>What is the effect ?</h1>
<h4>Too many choices will spend a lot of energy on decision making</h4>
<h3>Reduce the number of decisions</h3>
<div><%= image_tag "down-arrow.png", :size =>'80x80' %></div>
<h1 class="text-primary">Focus on what you need</h1>
</div>